# OS junk
.DS_Store

# Java build
**/target/
**/.idea/
**/*.iml

# Archives
*.zip

# Ignore everything else by default
*

# Allow backend and extension
!aiusage/
!aiusage/**
!aiusage_browser_extension/
!aiusage_browser_extension/**

# Allow root files
!.gitignore
!README.md

*.swp
